In [1]:
list1 = [1, 2, 3, 4, 5]
list2 = [5, 6, 4, 8, 2]
common_elements = set(list1) & set(list2)
print(list(common_elements))

[2, 4, 5]

In [2]:
a=[1,2,3,4,5,6,7,8,9,10]

for i in range(len(a)):
    if a[i]%2==0:
        print(a[i])

2
4
6
8
10

In [3]:
s = ["apple", "cat", "dog", "banana", "pie"]
for i in s:
    if len(i) > 3:
        print(i)

apple
banana

In [4]:
n_list = [1, -1, 2, -5, 3, -8, 4, 5]

for i in range(len(n_list)):
    if n_list[i] <0:
        n_list[i] = 0
print(n_list)

[1, 0, 2, 0, 3, 0, 4, 5]

In [5]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list2 = []

for i in range(len(list1)):
    if list1[i]%2!=0:
        list2.append(list1[i]**2)
print(list2)

[1, 9, 25, 49, 81]